<div class="container pt-4">
  <div class="row">
      <div class="col-lg-6 offset-lg-3">
          <div class="card text-center">
              <div class="card-body"> 
                <h1>{{isLoginMode ? "LOGIN" : "SIGNUP"}}</h1>
                <div class="alert alert-danger my-4" *ngIf="error">
                    {{ error }}
                </div>
                  <form class="mt-4" #authForm="ngForm" (ngSubmit)="onFormSubmit(authForm)">
                      <div class="row">
                          <div class="col">
                            <label class="col-form-label">Email</label>
                                  <input type="text" class="form-control form-control-lg" ngModel name="email" required email #email="ngModel" >
                          </div>
                          <div class="col">
                            <label class="col-form-label">Password</label>
                            <input type="password" class="form-control form-control-lg"  ngModel name="password" required minlength="6" #password="ngModel">
               
                            <div class="help-text" *ngIf="password.touched && !password.valid">              
                              <div *ngIf="password.errors">Invalid password (min.length 6)</div>
                            </div>  
                          </div>
                      </div>                       
                      <div class="mt-3">                            
                        <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid" >{{ isLoginMode ? "Login" : "SignUp" }}</button>
                        <button type="button" class="btn btn-primary" style="margin-left:20px" (click)="onSwitchMode()" >Switch to {{ isLoginMode ? "SignUp" : "Login" }}</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
